#announcement{
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  background: white;
  text-align: center;
  z-index: 2;
}

.fl{ 
    float:left;
}

.board{  
    max-width:512px;
    margin: 0 auto;
}

.playerWrapper{
  float: left;
  padding: 4px;
  max-height:200px;
  width: 100%;
  text-align: center;
  color: white;
}
#playerOne{
  text-shadow: 1px 1px 3px #009688,-1px -1px 2px black;
}
#playerTwo{
  text-shadow: 1px 1px 3px black,-1px -1px 1px black;
}
.square{
  position: relative;
  max-height: 64px;
  max-width: 64px;
  width:12.5%;
  padding-bottom:12.5%; 
  font-size: 2em;
  
}

.square *{
  position: absolute;
  padding: .6em;
}

.whiteSquare{
    background-color:#009688;
}
.blackSquare{
    background-color:#424242;
}
/*.piece{
  position: absolute;
  max-height: 64px;
    max-width: 64px;
    width:12.5%;
    padding-top: 10px;
    text-align: center;
    font-size: 2em;
    transition: all .2s;
}*/
.black{
  color: #212121;
  text-shadow: 1px 1px #FFFFFF;
}
.white{
  color: #FFFFFF;
  text-shadow: 1px 1px black;
}

#reset{
  position: fixed;
  color: red;
  top:0;
  right: 0;
  font-size: 20px;
}

.player-name{
  font-size: 30px;
}

@media (max-width: 520px) {
  .white,.black {
    padding: .3em;
  }
  .playerWrapper{
    text-align: left;
  }
  #reset{
    top: inherit;
    bottom: 0;
  }
}
@media (max-width: 400px) {
  .white,.black {
    padding: .1em;
  }
}
